@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button{
		-webkit-appearance: none;
		margin: 0;
	}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
	color: #555;
	background-color: #ecf0f3;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #ecf0f3;
}
.navbar{
	overflow: hidden;
	top: 0;
	left: 0;
	height: 3em;
	line-height: 3em;
	width: 100%;
	position: fixed;
	z-index: 9999;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}
.navbar div{
	float: right;
	font-weight: 600;
	letter-spacing: 0.1em;
	padding: 0 1.5em;
}
.navbar div:first-child{
	float: left;
	font-weight: bolder;
	letter-spacing: 0.4em;
	font-size: 1.5em;
	padding-left: 3em;
}
#logout:hover{
	color: #3973BF;
}

.container{
	margin: 20px;
	margin-top: 4em;
}

.row{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card-01{
	position: relative;
	flex: 1;
	text-align: center;
	max-width: 460px;
	height: auto;
	margin: 0.5em;
	padding: 1em;
	border-radius: 10px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}

.card-02{
	position: relative;
	flex: 1;
	text-align: center;
	max-width: 460px;
	height: auto;
	margin: 0.5em;
	padding: 1em;
	border-radius: 10px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}
.ocard-02{
	height: 500px;
	overflow-y: scroll;
}

.card-03{
	position: relative;
	flex: 1;
	text-align: center;
	max-width: 940px;
	height: auto;
	margin: 0.5em auto;
	padding: 1em;
	border-radius: 10px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}
.card-04{
	width:80%;
	max-width: 1400px;
	height: auto;
	text-align: center;
	margin: 0.5em auto;
	padding: 1em;
	border-radius: 10px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}

.yscroll{
	max-height: 560px;
	overflow-y: scroll;
}
.xscroll{
	max-width: 960px;
	overflow-x: scroll;
}

.num-inputs{
	padding: 5px 15px;
	margin: 15px;
	border-radius: 10px;
	box-shadow: inset 8px 8px 8px #cbced1,
		inset -8px -8px 8px #fff;
}
.text-inputs{
	padding: 5px 15px;
	margin: 15px;
	border-radius: 10px;
	box-shadow: inset 8px 8px 8px #cbced1,
		inset -8px -8px 8px #fff;
}
.btn-ppt{
	width: 35%;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	padding: 5px 20px;
	margin: 15px auto;
	text-align: center;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	color: #555;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}
.btn-ppt:hover{
	color: #fff;
	background-color: #3973BF;
	transition: all 0.8s ease;
}
.btn-ppt:active{
	background-color: #88ef9c;
}
.dd-opt{
	color: #555;
	padding: 5px 15px;
	margin: 15px;
	border-radius: 10px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}
.dd-inputs{
	color: #555;
	margin: 10px 5px;
	border-radius: 10px;
	padding: 5px 15px;
	font-weight: 700;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
		-13px -13px 20px #fff;
}

h3{
	letter-spacing: 2px;
	text-align: center;
}
label{
	margin: 20px;
}
.clabel{
	font-weight: 800;
}

.td-all{
	text-align: center;
	width: 5%;
}
.td-name{
	width: 20%;
}


.username{
	float: left;
	font-size: 1.5em;
}
.profile{
	width: 80%;
	margin: 2em auto;
}
.profile table{
	text-align: left;
}
.profile table tr td{
	padding: 0.1em 0 0.1em 2em;
	font-size: 1em;
	font-weight: 600;
}

.grade-inputs{
	border-radius: 10px;
	box-shadow: inset 8px 8px 8px #cbced1,
		inset -8px -8px 8px #fff;
}

.fluid{
	height: auto;
	margin: 0 auto;
	padding: 1em;
}
.fluid1{
	height: auto;
	width: 80%;
	padding: 1em;
}

@media only screen and (max-width: 600px) {
	.container{
		width: 100%;
	}
	.card-01{
		flex: 100%;
		width: 80%;
	}
	.card-02{
		flex: 100%;
		width: 80%;
		overflow-y: scroll;
	}
	.card-03{
		flex: 100%;
		width: 100%;
		overflow-x: scroll;
	}
    .text-inputs{
		width: 80%;
	}
	.num-inputs{
    	width:80%;
    }
    .card-04{
        width: 100%;
    }
	.xscroll{
		overflow-x: scroll;
	}
	.tables{
		width: 80%;
	}
	html{
		width: 90%;
	}
	.login{
		width: 100%;
	}
  }